h1 {
    color: black;
    text-align: center;
}


img {
    width: 300px;
    padding: 10px;
    box-shadow: 5px 10 px;
    align;
}

p {
    color: black;
}

div {
    color: white;
}

body {
    background-image: url("https://media.tenor.com/images/371b019d8ac0eac0963529c503260872/raw");
}







